head
  title= "CS-499 ePortfolio"
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")

  if user
    nav(class="navbar navbar-light bg-light justify-content-between")
      a(class="navbar-brand" href="/zoo") Wildlife Zoo
      form(id="navbarForm" class="form-inline" method="POST" action="/logout")
        if canAdd && user && user.role == 'Admin'
          button(class="btn btn-sm btn-outline-success mx-sm-2 mb-0" type="submit" onclick="navbarClick('GET', '/zoo/new')") Add Animal

        button(class="btn btn-sm btn-outline-secondary" type="submit" onclick="navbarClick('GET', '/profile')") Profile
        button(class="btn btn-sm btn-outline-secondary mx-sm-2 mb-0" type="submit" onclick="navbarClick('POST', '/logout')") Logout

    script.
      function navbarClick(method, action) {
        var navform = document.getElementById('navbarForm')
        navform.method = method
        navform.action = action
        navform.submit()
      }