html
  head
    title= "CS-499 ePortfolio"
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  body
    li= animal.name
    li= animal.species
    li= animal.animal